<!DOCTYPE html>
<html>
<head>
    <link href='https://css.gg/arrow-right-o.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/index.css">
    <title>House Rent Predictor</title>
</head>
<body>
    <div class="container">
        <div class="headingcon" id="headingcon">
            <h2 class="heading" id="heading1">HOUSE</h2>
        <h2 class="heading" id="heading2">RENT</h2>
        <h2 class="heading" id="heading3">PREDICTOR</h2>
        <p id="credits">by Venkat Sai Teja Koppula</p>
        <br><br>
        <center><a id="go-anchor" href="/main"><i class="gg-arrow-right-o go"></i></center>
    </div>
    </div>
    <footer> 
        <p id="copyrights">Developed by Venkat Sai</p>
    </footer>
</body>
</html>